
.container {
  display: inline-block;
  width: 100%;
  height: 300px;
}

.container .anchor {
  display: inline-block;
  float: left;
}

.header {
  display: inline-block;
  width: 80%;
  padding: 0 0 0 0;

}

.header .logo {
  display: inline-block;
  float: left;
  padding: 0 33% 0 33%;
}

.header .links {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  float: right;
  padding: 50px 0 0 25px;
}

.header a {
  font-family: 'Cantarell', sans-serif;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.header p{
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  font-size: 93%;
  text-align: center;
}

.toggle {
  text-align: center;
  text-decoration: none;
  color: #95b9e3;
}

.toggle a:hover {
  text-decoration: underline;
}

.menubody  {
  height: auto;
  width: 67%;
  border: 2px solid #95b9e3;
  margin: 2% 0 0 16%;
}

.menubody h1 {
  text-align: center;
}

.menubody h2 {
  text-align: center;
  margin-top: 2%;
}

.menubody ul{
  list-style: none;
  text-align: center;
  padding: 0 3% 0 3%;
}

.menubody li{
  list-style: none;
}

.menubody .item {
  font-weight: bolder;
}

.menubody .description {
  font-style: italic;
}

.menubody .price {
  font-weight: bolder;
}

.menubody .center {
  text-align: center;
}

.menubody .notes {
  text-align: center;
}

.menubody h4 {
  text-align: center;
}

.buttons {
  padding: 2%;
}

.buttons li {
  display: inline-block;
  padding: 0 2% 0 2%;
  color: black;
}

.box {
  display: inline-block;
  width: 255px;
  text-align: center;
  margin: 2% 40% 0 40%;
  border: 2px dashed #95b9e3;
}

.form .submit {
  padding-top: 8%;
  padding-bottom: 8%;
}

.home {
  display: inline-block;
  padding: 0 0 0 15px;
}

.home a {
  text-decoration: none;
  font-size: 20px;
  color: #95b9e3;
}

.form h4 {
  padding: 0 3% 0 3%;
  position: relative;
}

.popup {
  display: inline-block;
  height: auto;
  width: auto;
  border: 2px dashed black;
  text-align: center;
  float: right;
  padding: 50px;
  margin: 10px 400px 0 0;
}

.errors {
  color: red;
  border: 1px solid black;
}

.footer {
  text-align: center;
  padding-top: 3%;
}

.footer img {
  width: 100%;
}
